# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.DS_Store
.env

# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json


playground/database.js
